footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #01141A;
    height: 200px;
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 145px;
        margin-left: 120px;
 
        button{
            cursor: pointer;
            background-color: #FAFBFD;
            width: 145px;
            height: 40px;
            border: none;
            border-radius: 20px;
        }
    }
    .list{
        display: grid;
        grid-template-columns: repeat(3, 250px); 
        align-self: center;
        height: 100px;
        margin-left: 200px;
        .item{
            color: white;
            margin-bottom: 15px;
        }
    }
    .social{
        display: flex;
        gap: 20px;
        align-self: center;
        margin-bottom: 60px;
        margin-right: 145px;
    }
}
