
.fourth{
    height: 700px;
    background-image: url('../../img//digital.png');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 50px);
    background-position-y: 60px;
    border-bottom: 2px solid #e5e5e5;
    .wrapp{
        margin-left: 120px;
    
    h3{
        margin-top: 110px;
        margin-bottom: 60px;
        text-transform: uppercase;
        text-align: center;
        font-size: 32px;
        font-family: "Montserrat";
        font-weight: 600;
        span{
            font-weight: 300;
        }
    }
    .left{
        ul{
            width: 417px;
            list-style: none;
            li{
                &::before{
                    content: '';
                    background-image: url('../../img/svg/ok.svg');
                    height: 30px;
                    width: 30px;
                    display: block;
                    position: absolute;
                    left: 100px;
                }
                h5{
                    font-family: "Montserrat";
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom: 15px;
                    text-transform: capitalize;
                }
                .subtext{
                    font-weight: 100;
                    margin-bottom: 45px;
                }
            }
        }
    }
}
}