<section class="fourth">
    <div class="wrapp">
        <h3><span> How can Aftrlife</span> help you today?</h3>
        <div class="left">
            <ul>
                <li><h5>Secure your digital legacy and assets</h5>
                <div class="subtext">
                    Ensure that your important online accounts like email, photos, documents and financial sites are discoverable.
                    </div></li>
                <li><h5>Memorialize or delete social media pages</h5>
                    <div class="subtext">
                        Start a social media will and make a plan for Facebook, Instagram, Twitter, Snapchat, LinkedIn and many others.
                    </div></li>
                <li><h5>Bring your priceless photos to life</h5>
                        <div class="subtext">
                            Create shareable animations from your photos to capture life moments in new and meaningful ways.
                    </div></li>
                <li><h5>Free will, medical and funeral directives</h5>
                        <div class="subtext">
                            Make your wishes known in a will, medical or funeral directive, to be shared now or when you pass away.
                        </div></li>
            </ul>
            </ul>
        </div>    

    </div>
</section>