<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../img//svg//Logo.svg" alt="logo">
    </div>
    <div class="menu">
      <ul>
        <li> <a href="#">For You</a></li>
        <li><a href="#"> For Someone Else</a></li>
        <li><a href="#">For Businesses</a></li>
        <li><a href="#">Memories</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Articles</a></li>
      </ul>
    </div>
    <div class="auth">
      <button>Log in</button>
      <button>Get started</button>
    </div>
  </div>
</header>
