<section class="third">
    <h3>We are serious about <span>security</span></h3>
    <div class="subtext">
        We realize that you are trusting the Aftrlife service with some of the most important information, data and documents that you own. Your information is encrypted and protected using industry-leading technology and security. Similar to your bank and healthcare information we secure your stored data as all data in transit from our site to secure encrypted data storage. Our communications and storage infrastructure are encrypted using the latest best practices. 
    </div>
    <button>Learn more</button>
</section>